In [3]:
print("Hello, World!")

Hello, World!

In [4]:
thislist = ["apple", "banana", "cherry", "Chris"]
for x in thislist:
  print(x)

apple
banana
cherry
Chris

In [5]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])
    print(i)

apple
0
banana
1
cherry
2

In [6]:
range(len(thislist))

range(0, 3)

In [7]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [8]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [9]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [8]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [9]:
type(thislist)

list

In [10]:
import pandas as pd

In [12]:
df = pd.read_excel("Azenta_NGS_PlasmidEZ_SampleUpload_Form.xlsx")

In [13]:
df

,Plate,Well (V),Sample #,Sample Name*,Sample Buffer*,Method of DNA Measurement*,DNA Concentration (ng/uL)*,Sample Volume (uL)*,Total DNA Amount (ng)*,Reference Sequence,Host,Plasmid Size,Copy Number,Sample Comments,Is Empty
0,plate 01,A1,1.0,HM14-1,Water,NanoDrop,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
1,plate 01,B1,2.0,HM14-2,Water,NanoDrop,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
2,plate 01,C1,3.0,HM14-3,Water,NanoDrop,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
3,plate 01,D1,4.0,HM17-1,Water,NanoDrop,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
4,plate 01,E1,5.0,HM17-2,Water,NanoDrop,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,NaN,D12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,NaN,E12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,NaN,F12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,NaN,G12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,NaN,H12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Plate                       510 non-null    object
 1   Well (V)                    576 non-null    object
 2   Sample #                    500 non-null    float64
 3   Sample Name*                6 non-null      object
 4   Sample Buffer*              8 non-null      object
 5   Method of DNA Measurement*  8 non-null      object
 6   DNA Concentration (ng/uL)*  8 non-null      float64
 7   Sample Volume (uL)*         8 non-null      float64
 8   Total DNA Amount (ng)*      8 non-null      float64
 9   Reference Sequence          0 non-null      float64
 10  Host                        0 non-null      float64
 11  Plasmid Size                8 non-null      float64
 12  Copy Number                 0 non-null      float64
 13  Sample Comments             0 non-null      float64
 14  Is Empty                    0 non-null      float64
dtypes: float64(10), object(5)
memory usage: 67.6+ KB

In [15]:
df.describe()

,Sample #,DNA Concentration (ng/uL)*,Sample Volume (uL)*,Total DNA Amount (ng)*,Reference Sequence,Host,Plasmid Size,Copy Number,Sample Comments,Is Empty
count,500.000000,8.0,8.0,8.0,0.0,0.0,8.0,0.0,0.0,0.0
mean,250.500000,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
std,144.481833,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN
min,1.000000,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
25%,125.750000,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
50%,250.500000,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
75%,375.250000,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN
max,500.000000,50.0,10.0,500.0,NaN,NaN,7510.0,NaN,NaN,NaN

In [17]:
df["Plasmid Size"].value_counts()

Plasmid Size
7510.0    8
Name: count, dtype: int64