In [4]:
import pandas as pd
import seaborn as sns
import numpy as np

In [15]:
In [7]: df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [8]: df
# Out[8]: 
#                    A         B         C         D
# 2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
# 2013-01-02  1.212112 -0.173215  0.119209 -1.044236
# 2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
# 2013-01-04  0.721555 -0.706771 -1.039575  0.271860
# 2013-01-05 -0.424972  0.567020  0.276232 -1.087401
# 2013-01-06 -0.673690  0.113648 -1.478427  0.524988

                   A         B         C         D
2013-01-01  0.215392 -0.525454 -0.404525 -0.125582
2013-01-02 -0.356503 -0.634225 -0.347373  0.222952
2013-01-03 -0.057999 -1.822932  0.576290  0.171675
2013-01-04  0.325347 -0.264208 -1.597829  0.071224
2013-01-05  0.754847  1.552209 -0.132813  0.433698
2013-01-06  0.551012 -2.454859 -1.678269 -0.550734

In [11]:
In [13]: df.head(2)

                   A         B         C         D
2013-01-01  0.355358 -0.263205 -0.533850  0.941993
2013-01-02 -0.688555 -0.028664  0.560847 -0.254976

In [9]:
In [14]: df.tail(3)

                   A         B         C         D
2013-01-04  0.237219  1.040544 -0.181384  0.776877
2013-01-05 -1.588054 -0.405454 -0.270619 -0.638036
2013-01-06 -0.736631  0.838971  0.338481 -0.350458

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.539835  0.240324 -0.023974  0.100374
std    0.726961  0.590260  0.404991  0.638976
min   -1.588054 -0.405454 -0.533850 -0.638036
25%   -0.797916 -0.204569 -0.248310 -0.326588
50%   -0.712593  0.115544 -0.119351 -0.064067
75%    0.005776  0.694166  0.239531  0.614368
max    0.355358  1.040544  0.560847  0.941993